{% extends "sidebar.html" %}
{% load static %}


 {% block content %}

    <section class="inscription">
        <h2 class="titre">{{ title }}</h2>
        <form action="" method="post" class="box-form" enctype="multipart/form-data">
            {% csrf_token %}

            {{ teachers }} 

            <div class="btn">
                <button type="submit" name="inscrire" class="annuler"> <a href="{% url 'teacher:list_teacher' %}"> Annuler </a> </button>
                <button type="submit" name="enregistrer" class="inscrire"> Enregistrer </button>
            </div>
            
        </form>
    </section>
 
 {% endblock content %}


