{% extends "sidebar.html" %}
{% load static %}
 

{% block content %}

    <section class="inscription">
        <h2 class="titre"> {{ title }} </h2>
        <form action="" method="post" class="box-form" enctype="multipart/form-data">
            {% csrf_token %}

            {{ students }}
            
            <div class="btn">
                <button type="submit" name="inscrire" class="annuler"><a href="{% url 'student:student_list' %}"> Annuler </a> </button>
                <button type="submit" name="enregistrer" class="inscrire">Enregistrer</button>
            </div>
            
        </form>
    </section>

{% endblock content %}

{% block notif_javascript %}

    <script>
        function notif(student){
            var elt = '{% url "student:delete_student" 0 %}'.replace('0',student)
            Swal.fire({
            title: "Etes vous sur de supprimer ?",
            icon: "question",
            iconHtml: "?",
            confirmButtonText: "Oui",
            cancelButtonText: "Non",
            showCancelButton: true,
            showCloseButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = elt
            }
        })
        ;
        }
    </script>

{% endblock notif_javascript %}
