{% extends "rapport/sidebar.html" %}
{% load static %}
 
{% block title %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Tableau de bord - MonEtab</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
    </head>

{% endblock title %}


{% block headerRapport %}
   <h1><i class="fas fa-pencil-alt"></i>MonEtab</h1>
   <ul>
       <li><a href="{% url 'dashboard:dashboard' %}"><i class="fas fa-tachometer-alt" ></i> Tableau de bord</a></li>
       <li><a href="{% url 'student:student_list' %}" class="active"><i class="fas fa-book-reader" ></i> Elèves</a></li>
       <li><a href="{% url 'teacher:list_teacher' %}"><i class="fas fa-chalkboard-teacher" ></i> Professeurs</a></li>
       <li><a href="{% url 'user:list_user' %}"><i class="fas fa-user" ></i> Utilisateurs</a></li>
       <li><a href="{% url 'rapport:rapport' %}"><i class="fas fa-file-alt" ></i> Rapport</a></li>
       <li><a href="index.html"><i class="fas fa-sign-out-alt" style="color: rgb(248, 59, 75);" ></i> Déconnexion</a></li>
   </ul>
{% endblock headerRapport %}


{% block insideContainer %}

    <div class="main">
        <div class="row">
            <h2>Rapport </h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="input-box-2">
                    <select name="sexe" required class="champ-input">
                        <option value="">Choisir...</option>
                        <option value="homme">Liste des élèves</option>
                        <option value="femme">Liste des professeurs</option>
                        <option value="femme">Liste des utilisateurs</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="btn">
                    <button type="submit" name="inscrire" class="annuler">Générer format pdf</button>
                    <button type="submit" name="enregistrer" class="inscrire">Générer format excel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock insideContainer %}


